body{
	font: 200 28px baskerville, serif ;
	background-color: purple;
	margin: 0;	
}

.item1 {
	padding: 0;
}

h1{
	background-image: url(https://i.ytimg.com/vi/Mf5K9XPBOz8/maxresdefault.jpg);
	background-position: center; 
	background-repeat: no-repeat;	
	font-family: Tahoma, Geneva, sans-serif ;
	border: 8px gold solid;
	color:yellow;	
}

#headline{
	padding:10px;
	margin:20px;
	font-size: 30px;
	background-image: url(https://i.ytimg.com/vi/YMjWNOnkmJ0/maxresdefault.jpg);	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	animation-name: line;
	animation-duration: 9s;
	animation-iteration-count: infinite;
}

@keyframes line{
	0%   {color: red;}
	25%  {color: yellow;}
	37.5%  {color: green;}
	50%  {color: blue;}
	62.5%  {color: purple;}
	75%  {color: pink;}
	100% {color: red;}
}

#item2 {
	background-color: black;
	color:yellow;
	padding:10px;
}

.context {
	display:block;
}

.panel {
	display: none;
}

.panel .active {
	display: block;
}

.section {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.section > li {
	list-style-type: none;
	width: 45%;
	padding: 2px;
	border: 2px purple solid;
	align-content: space-between;
	
}

.section li.active {
	background: yellow;
	color: black;
}

ol{
	list-style: upper-roman;
}

img {
	position: relative;
	width: 100%;
}

a{
	text-decoration: none;
	color:green;
}

 a:hover{
	color:white;
	font-family: impact, charcoal, sans-serif;
}

.wavecheck{
	position: relative;
	animation-name: move;
	animation-duration: 5s;
	animation-direction: reverse; 
	animation-iteration-count: infinite; 
}

#flex-slider {
	width: 720px;
	height: 400px;	
	overflow: hidden;
}


#flex-slider .slides {
	display: block;
	width: 6000px;
	height: 400px;
	margin: 0;
	padding: 0;
}

#flex-slider .slide {
	float: left;
	list-style-type: none;
	width: 720px;
	height: 400px;
}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
	text-align: center;
	padding: 5px;
	background-color: rgb(183, 0, 255);
	margin: 10px;
	padding: 20px;
	font-size: 30px;
	color: yellow;
	padding: 16px;
	border: none;
	cursor: pointer;
  }



#item3{
	position:relative;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQrw6b8Vtt5GU8RkgZCtM3IwsoRC9qcpDYW9LtF4GML0RWpZNfN);
	border:5px red solid;
	box-sizing: content-box;
	margin-top: 100px;
	float:center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	animation-name: line;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
